node_modules
public/bundle.js
public/bundle.js.map
.env
secrets.js
.DS_Store
npm-debug.log
yarn-error.log
capstonegolf-67769-firebase-adminsdk-4la3k-eb85deef0e.json
.firebase
.firebase/hosting.cHVibGlj.cache
firebase-debug.log
ui-debug.log
